body{
    background-color: rgba(8, 8, 8, 0.785);
    align-items: center;
    font-style: inter "sans serif" "century-Gothic" serif;
    text-align: center;
    justify-content: center;
    color: rgb(215, 220, 203)

}